<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    async function getJWT() {
      const refreshToken = localStorage.refreshToken
      if (refreshToken == undefined) {
        location.href = '/'
      } else {
        try {
          const res = await axios({
            url: '/api/token/verify/',
            method: 'post',
            data: { token: refreshToken },
          })
          const access_res = await axios({
            url: '/api/token/refresh/',
            method: 'post',
            data: { refresh: refreshToken }
          })
          return access_res.data.access
        } catch (exception) {
          console.log(exception)
        }
      }
    }
  </script>

  <script>
    (async function () {
      const access = await getJWT()
      const articles_res = await axios({
        method: "get",
        url: '/articles/',
        headers: {
          'Authorization': `Bearer ${access}`
        }
      })


      console.log(articles_res)



      const articles_container = document.querySelector('#articles-container')

      articles_res.data.forEach((article) => {
        articles_container.innerHTML = `
        <div class="card shadow-sm" data-id='${article.id}'>
          <div class="card-body">
            <a href='/articles/views/${article.id}/'><h5>${article.title}</h5></a>
            <p class="card-text text-muted">${article.content}</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">created: ${article.created.substring(0, article.created.indexOf('T'))}</small>
              <small class="text-muted">comments: ${article.comments.length}</small >
            </div >
          </div >
        </div >` + articles_container.innerHTML
      })
    })()
  </script>
</head>

<body>
  <nav class='navbar bg-light'>
    <div class='container-fluid'>
      <a class='navbar-brand' href='/articles/views/index/'>Index Page</a>
      <div id="auth-group" class="btn-group">
        <a href="/views_post_articles/" id='post-article' class="btn btn-primary active" aria-current="page">Post
          Article</a>
      </div>
    </div>
  </nav>
  <main class='container-sm'>
    <article id='articles-container'></article>
  </main>

</body>

</html>