<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
  <nav class='navbar bg-light'>
    <div class='container-fluid'>
      <a class='navbar-brand' href="{% url 'views_articles' %}">Index Page</a>
      <span class="">SHUJIAN</span>
      <div id=" auth-group" class="btn-group">
        <a href="{% url 'views_post_article' %}" id="post-article" class="btn btn-primary active">Post
          Article</a>
      </div>
    </div>
  </nav>
  <main>
  </main>
</body>
<script>

  const axiosWithAccessToken = async (url, method, access_token, data = {}) => {
    const res = await axios({
      url,
      method,
      header: {
        'Authorization': `Bearer ${access_token}`,
        'Content-Type': 'application/json'
      },
    })
  }

  const isTokenExpired = async (token) => {
    try {
      const res = await axios({
        url: '{% url "token_verify" %}',
        method: 'post',
        data: { token }
      })
      if (res.status === 200) {
        return false
      } else {
        return true
      }
    } catch (ignore) {
      return true
    }
  }

  const refreshAccessToken = async (refresh) => {
    const accessRes = await axios({
      url: '{% url "token_refresh" %}',
      method: 'post',
      data: { refresh }
    })
    return accessRes.access
  }

  const getAccessToken = async () => {

    if (!!localStorage.access) {
      const accessIsExpired = await isTokenExpired(localStorage.access)
      console.log('accessIsExpired', accessIsExpired)
      if (!accessIsExpired) {
        return localStorage.access
      } else {
        if (!!localStorage.refresh) {
          const refreshIsExpired = await isTokenExpired(localStorage.refresh)
          console.log('refreshIsExpired', refreshIsExpired)
          if (!refreshIsExpired) {
            return refreshAccessToken(localStorage.refresh)
          }
        } else {
          location.href = '{% url "views_login" %}'
        }
      }
    } else {
      location.href = '{% url "views_login" %}'
    }
  }

</script>

</html>